@charset "UTF-8";

.container {
  padding: 20px 0;
}

.heading {
  font-size: 2rem;
  text-align: center;
}
@media screen and (max-width:767px) {
  .heading {
    font-size: 1.5rem;
  }
}

.backToTop {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #ccc;
}
.backToTop:hover {
  opacity: 0.7;
}

.backToTop_inner {
  display: inline-block;
  padding-top: 6px;
  font-size: 25px;
  color: #444;
}

.imageDog {
  width: 100%;
}

.dummy {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

@media screen and (max-width:767px) {
  .dummy {
    width: 100%;
  }
}
